.owl-diretores
	.img-background
		height: 100vh
	.item-content
		position absolute
		color #fff
		top 50%
		left 10%
		.item-title
			font-size rem(28px)
			letter-spacing 8px
			display table-caption
			text-align right
			margin-right -7px
			.item-arrow
				position absolute
				right -43px
				top 1px
				font-size 40px
		.item-project
			text-align right
			margin-top 14px
			letter-spacing 3px
			font-size rem(16px)
			
		