.produtora-header
	height 25vh
.produtora
	min-height 100vh
	padding 45px
	padding-top 300px
	padding-left 90px
	width 100%
	.content
		width 50%
		color #fff
		float right
		.title
			font-size rem(60px)
			letter-spacing 2px
		.text
			font-family 'Open Sans'
			font-size rem(11px)
			line-height 18px
			text-transform initial
	.content-even
		width 50%
		color #fff
		float left
		.title
			font-size rem(60px)
			letter-spacing 2px
		.text
			font-family 'Open Sans'
			font-size rem(11px)
			line-height 18px
			text-transform initial