.single-header
	background-color #fff
	position relative
	padding-bottom 45px
	min-height 20vh
	.content
		margin-left 90px
		padding-top 45px
		width 50%
		+below($tablet)
			bottom 25%
			width 100%
			text-align left
			padding-left 45px
			padding-right 45px
			margin-left 0
			padding-top 135px
		.title
			font-size 20px
			cursor pointer
			display inline
			.subtitle
				display inline
				margin-left 12px
				margin-top 5px
				font-size rem(12px)
				position absolute
				
		.text
			font-family 'Open Sans'
			font-size rem(12px)
			text-transform initial
			margin-top 9px

.projetos
	color #fff
	.projeto
		height 100vh
		padding 45px
		padding-top 210px
		padding-left 90px
		cursor pointer
		+below($tablet)
			padding-left 45px
		.title
			font-size rem(50px)
			letter-spacing 3px
			span
				font-size rem(60px)
		.subtitle
			letter-spacing 3px
			font-size rem(20px)
			margin-top 15px
			
.diretor-video
	background-color #fff
	height 100vh
	display none

.iframe-holder
	background-color #fff
	height 100vh
	display none