// Todo e qualquer estilo para importar
@import 'kouto-swiss'
@import 'rupture'
@import 'jeet'
@import url('../vendor/bootstrap/dist/css/bootstrap.css');
@import url('../vendor/font-awesome/css/font-awesome.css');
@import url('../vendor/owl.carousel/dist/assets/owl.carousel.css');
@import url('../vendor/animate.css/animate.css');
@import url('../bower_components/fullpage.js/dist/jquery.fullpage.min.css');
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Light', 300)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans', 400)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Semibold', 600)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Bold', 700)
font-face('Gobold', '../fonts/gobold/GoboldThin', 400)