// Todo e qualquer estilo personalizado	
.response
	display none
	margin-bottom rem(10px)
	
	.message
		display none
		
	.success
		color #0cff0c
		
	.error
		color red
		
	.waiting
		color yellow

label.error
	color red
	font-size rem(12px)