.menu
	position absolute
	right 0
	margin 45px
	z-index 9999
	height 1px !important
	.logo
		width 210px
	.toggle-button
		position absolute
		right 0
		margin-top 9px
		i 
			color #fff
			cursor pointer
		
.menu-active
	position fixed
	background-color #fff
	width 100%
	height 100%
	z-index 999
	.menu-items
		width: 100%
		position absolute
		bottom 45%
		margin: 0 auto
		margin-bottom: 20px
		+below($tablet)
			bottom 30px
		
		&-list
			list-style-type none
			text-align: center
			padding 0
			width 75%
			float left
			text-align left
			padding-left 45px
			+below($tablet)
				width: 100%
				padding-left 0
				text-align center
			.item
				color #adadad
				display: inline
				margin: 0px 21px
				font-size: rem(21px)
				letter-spacing: $ls
				cursor pointer
				transition: .3s
				text-decoration none
				text-transform uppercase
				transition .3s all ease-in-out
				+below($tablet)
					display: block
					margin: 13px 0px
				&:hover
					color #000
					text-decoration none
					
		.social-ul
			list-style-type none
			width: 25%
			float: left
			padding 0
			text-align: center
			padding-bottom: 5px
			text-align right
			padding-right 45px
			+below($tablet)
				width: 100%
				padding-right 0
				text-align center
			li
				display: inline-block
				border: 1px solid #000
				margin: 0px 12px
				padding 6px 10px
				color #000
				cursor pointer
				transition: .3s
				&:hover
					color #000
					transition: .3s
					border-color: #000
				a:hover
				a:focus
					color #000
					
	.menu-item-background
		cover()
		absolute: auto 0 0 0
		size: 100%, 45vh
		opacity 0
		visibility hidden
		transition .5s all ease-in-out
		+below($tablet)
			height 0vh
		&.active
			opacity 1
			visibility visible

.toggle-button-black
	color: #000 !important

.back
	position absolute
	left 35px
	top 45px
	z-index 8888
	text-transform lowercase
	padding-top 1px
	cursor pointer
	&-min
		left 55px