.diretores-header
	height 25vh
.diretores
	height 100vh
	padding 45px
	display table
	padding-left 90px
	width 100%
	+below($tablet)
		padding-left 45px
	.title
		font-size rem(18px)
		letter-spacing 6px
		color #fff
		margin 15px 0px
		display table
		transition: 1s all ease-in-out

.diretores-content
	display table-cell
	vertical-align middle