.produtora-header
	height 25vh
.produtora
	min-height 100vh
	display table
	width 100%
	+below($mobile)
		padding 0
	.content
		width 50%
		color #fff
		float right
		display table-cell
		vertical-align middle
		+below($mobile)
			padding 0
			padding rem(30px 15px)
			width 100%
			float none
		+above(768px)
			padding rem(0 50px)
		.title
			font-size rem(60px)
			letter-spacing 2px
			+below($mobile)
				font-size rem(20px)
		.text
			font-family 'Open Sans'
			font-size 12px
			line-height 1.5
			text-transform initial
			text-align justify
			
	.content-even
		width 50%
		color #fff
		float left
		display table-cell
		vertical-align middle
		+below($mobile)
			padding 0
			padding rem(30px 15px)
			width 100%
			float none
		+above(768px)
			padding rem(0 50px)
		.title
			font-size rem(60px)
			letter-spacing 2px
			+below($mobile)
				font-size rem(20px)
		.text
			font-family 'Open Sans'
			font-size 12px
			line-height 1.5
			text-transform initial
			text-align justify