.single-header
	background-color #fff
	position relative
	padding-bottom 45px
	min-height 25vh
	.content
		margin-left 90px
		padding-top 45px
		width 50%
		+below($tablet)
			bottom 25%
			width 100%
			text-align left
			padding-left 45px
			padding-right 45px
			margin-left 0
			padding-top 135px
		.title
			font-size rem(21px)
			cursor pointer
			display inline
			.subtitle
				display inline
				margin-left 12px
				margin-top 5px
				font-size rem(15px)
				position absolute
				
		.text
			font-family 'Open Sans'
			font-size rem(12px)
			text-transform initial
			margin-top 9px

.label-project
	display block
	size: 100%
	margin 0
	font-weight initial

.projeto
	position relative
	overflow hidden
	color #fff
	height 100vh
	padding 45px
	padding-top 210px
	padding-left 90px
	cursor pointer
	+below($tablet)
		padding-left 45px
	.title
		font-size rem(32px)
		letter-spacing 3px
		+above(480px)
			font-size rem(50px)
		span
			font-size rem(60px)
	.subtitle
		letter-spacing 3px
		font-size rem(20px)
		margin-top 15px
		
	.read-more
		absolute: 0 -100% 0 auto
		size: 100%
		min-height 100%
		max-height 100%
		padding rem(70px 20px 50px)
		overflow hidden
		opacity 0
		visibility hidden
		font-family 'Open Sans', sans-serif
		font-size rem(10px)
		letter-spacing rem(1.2px)
		line-height 1.6
		z-index 1
		text-transform initial
		background-color alpha(#313131, 95%)
		transition(.5s all ease-in-out)
		+above(768px)
			size: 50%, 100%
			padding rem(50px)
			font-size rem(16px)
		
		&-label
			display inline-block
			padding rem(10px 15px)
			margin rem(20px 0)
			font-weight 400
			letter-spacing rem(2px)
			cursor pointer
			border rem(1px) solid $white
			
		&-check
			display none
			
			&:checked ~ .read-more
				right 0
				opacity 1
				visibility visible
		
			
.diretor-video
	background-color #fff
	height 100vh
	display none

.iframe-holder
	background-color #000
	//background url('http://madknow.com.br/yourmama/wp-content/uploads/2017/08/img-placeholder-dark.jpg') no-repeat center center
	background-size cover
	height 75vh
	display none